<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/session1-python-fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Progamming Language

## About Python

**Founded by Guido Van Rossum**
- Interpreter Language
- Simple and Easy to learn

## Why use Python in Data Science ?

- Easy to use and learn
- provide mathematical computation library like numpy,pandas

# 1. Python Output

In [ ]:
# program to print Hello World in python (#- single line comment)
# Python is a case sensitive language meaning that lowercase and uppercase variable or anything are different
# case Sensitive Example : firstName and FirstName both are different.
print("Hello  World !")

Hello  World !

In [ ]:
print(Amir Khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-3001958532.py, line 1)

In [ ]:
print(7)

In [ ]:
print(True)

In [ ]:
print(type(False))

In [ ]:
print("Hello",7,4.5,True)# print all separated with a space // default separator is space

In [ ]:
# Dont need to remember => can see the argument print function takes by hovering it.
print("Hello","world",sep=".",end="ends with")

In [ ]:
print("Hello")
print("World")

In [ ]:
print("Hello",end=' ')
print("World",end = " ")

# 2. Data Types
programming language can works with how many data.

## Integer Type

### **python can handle large integer number upto 1e308**
## 1e308 = 1*10^308

In [ ]:

print(1e309) # inf means python is unable to handle this number
print(1e308) # can print means it can handle upto this much.

inf
1e+308

## Decimal/Float Type

#### python can handle large floating/decimal type number upto 1.7e308

In [ ]:
print(1.7e308)# can handle upto this decimal number
print(1.7e309)# unable to handle

1.7e+308
inf

## Boolean Type
- can be True or False but not true or false

In [ ]:
print(True)

True

In [ ]:
print(true)

NameError: name 'true' is not defined

## String Type
- Represented by quotes i.e single or double or triple "" or '' or ''''''

### don't have datatype like char present in c/c++

In [ ]:
print("Hello World")

Hello World

## Complex Type
- has real and imaginary part
- Represented by a+bj

In [ ]:
num1 = 3+4j
num2 = 4+5j
# multiplication  of num1*num2
value = num1 * num2
print(value)

(-8+31j)

## List
- mutable datatype i.e data can added or removed.
- Represented by square bracket i.e []

In [ ]:
print([1,2,3,"Hello",4.5,3+4j])

[1, 2, 3, 'Hello', 4.5, (3+4j)]

## Tuple Type
- immutable type i.e data cannot be inserted or removed meaning it is readonly.
- Represented by round bracket i.e ()

In [ ]:
print((1,2,3,"Hello World",4+3j))

(1, 2, 3, 'Hello World', (4+3j))

## Set Type
- Represented by curly braces i.e {}

In [ ]:
print({1,2,3,"Hello World"})

{1, 2, 3, 'Hello World'}

## Dictionary Type
- always inside curly bracket i.e {}
- have a key value pair.
- key is alway immutable types.
- can access only through bracket notation but not through dot notation

In [ ]:
person = {"username":"sujan123","email":"sujanthapal2468@gmail.com","password":"sujan123","isAdmin":False}
print(person['username'])
person["email"]

sujan123

'sujanthapal2468@gmail.com'

# 3. Variables
  - containers that are used to store data

## **Static vs Dynamic Typing**

**a. Static Typing**<br />
int a = 5; // variable are assigned with type, at time of creation
<br />
**b. Dynamic Typing**<br />
name = "Hari" // variable are not assigned with type but automatically known by interpreter based on its store valued.

## **Static Vs Dynamic Binding**
- based on binding between variable and datatype
- static binding => variable binded with datatype
- dynamic binding => variable not binded with datatype

**a. Static Binding**<br/>
- means once variable got its datatype, its datatypes remain fixed.
###### Examples
- int a = 5;
- a = "Hello world"; // got error because trying to assign string type to integer variable.

**b. Dynamic Binding**<br />
- means variable don't have fixed datatype.i.e keeps goes on changing based on stored value. <br/>
###### Examples
- a = 5 <br/>
- print(a) # 5<br />
- a = "hari"<br/>
- print(a) # hari <br/>




#### **Stylish Declaration techniques**

## **Stylish Declaration Techniques**

In [ ]:
a = 5
b = 6
c = 10
# assigning values to multiple variable in single line
d,e,f = 5,6,10
print(a,b,c)
print(d,e,f)

5 6 10
5 6 10

In [ ]:
# want to give same value to multiple variable
a = b = c = 5
print(a,b,c)

5 5 5

## 1. Type Function

In [ ]:
type(3)
type(3.5)
type(3+4j)
type("Hello")
type({1,2,3})
type([2,"dfd"])

# 4. Comments
- Good coder always write comment so that other coder in team can easily understood the logic for that code.
- ignored by interpreter
- <p># is used to write comments.</p>
- only single line comments is available in python
- Trick to write multi-line comments.<br />
a. repeat single line comment (industry practice)<br/>
b. If triple quotes is not assigned to variable,and can make use of it.

In [ ]:
# this is a comment
# Assigning values to variable
a,b = 10,20
# printing values
print(a,b)

# 5. Keywords & Identifiers

### Keywords
- reserved words in programming.
- used by interpreter or compiler for pre-defined words to understand program
- no. of keywords change based on version release.
- cannot be used in program for defining variable because it create confusion to interpreter/compiler.
- Compiler language are faster than interpreter language.

## Identifier
- are name given to variable,function,class,etc.
### Rules
- must start with underscore or alphabets(lower or upper) but not with digits and special symbols
- cannot used special character like ;,'#$ and space
- contains alphabet,underscore and numbers
- cannot be keywords
- must have meaning

In [ ]:
1name = "hari"

SyntaxError: invalid decimal literal (ipython-input-4010310482.py, line 1)

In [ ]:
# Rules 1
_name = "hari"
name = "hari"
Name = "hari"
_ = "rita" # also allowed.
# Rules 3
first_name = "ram"
first_name12 = "shyam"
# Rules 4
a = "sita"
user_name = "sita" # this provides meaning that other programmer knows sita is name of user.
print(_name)

hari

In [ ]:
$price = 500
print($price)

SyntaxError: invalid syntax (ipython-input-2944256394.py, line 1)

# 6. User Input
<p> There are two types of software <p>
- static software : software that doesn't communicate with users. e.g
calender,clock(this are used for providing information)i.e doesn't ask user for input.<br/>
- dynamic software : software that communicate with users i.e asks user for input. e.g youtube(can search)

## input function
- used to take input from user
- input() ask user for input but doesn't tell user what types of input he/she should enter
- input(msg/prompt) allows user to input data based on message/prompt.
- Data entered by user is of type str because string is a universal data format i.e can stored other data types on it (int,float,complex) but viceversa not true. i.e cannot store string in int,float or complex type.

In [ ]:
input() # ask user for input without prompt message.
input("Enter your name : ") # provide prompt or message asking user to input name

In [ ]:
# write a program to sum 2 numbers that are entered by user.
# takes input from the user and store them in variable
first_operand = int(input("Enter first operand:"))
second_operand = int(input("Enter second operand:"))
# display sum
print(f"Sum of {first_operand} and {second_operand} is {first_operand + second_operand}")

## 7. Type Conversion

#### Two types of Type conversion:
- Implicit => automatically done by interpreter/compiler
- Explicit => done by programmer

In [ ]:
# Implicit Type Conversion
print(5 + 5.6) # print(float(5) + 5.6) automatically done by interpreter
print(type(5),type(5.6))

10.6
<class 'int'> <class 'float'>

In [ ]:
print(5+'5')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Explicit Type conversion
# str->int
int('5') # 5
# float->int
int(5.6) # 5
# int->float
float(5)# 5.0
#int->str
str(5)

In [ ]:
int(4+5j) # throw error

In [ ]:
# Integer literals
# binary literals
num1 = 0b101 # 0b101 is binary literals and num1 is a variable.
num2 = 0b111
print(num1,num2)
# octal Literals
num3 = 0o45
num4 = 0o10
print(num3,num4)
## hexadecimal Literals
num5 = 0xFF
num6 = 0x23
print(num5,num6)

5 7
37 8
255 35

## 8. Literals
- are fixed or constant value in program. e.g: 5,5.6,"hari",True,
- are values assigned to variable
<pre>
eg:
num1 = 20
- num1 : variable
- = : operator
- 20 : literal
</pre>

## Types of Literals
### 1. Integer Literals:(5,-10,20,0b101,0o23,0xFF)
##### a. Binary Representation => 0b
##### b. Decimal Representation => normal i.e 100,200
##### c. Octal Representation => 0o
##### d. hexadecimal Representation => 0x
### 2. Floating point or decimal literals:(2.5,-6.9,1.1e5)
##### a. Scientific Notation or Exponential Notation => used when dealing with very large or very small numbers.(1.5e10,2.23e-5)
### 3. String Literal : "hari","shyam",etc
### 4. Boolean Literal : True, False
### 5. None Literal : can be used for variable declaration for future use.
### etc....

In [ ]:
# Floating-point Literals
float_1 = 5.6 # 5.6 is decimal literal and float_1 is a variable
float_2 = 1.5e2 # scientific notation or exponential notation
float_3 = 1.5e-3
print(float_1,float_2,float_3)

5.6 150.0 0.0015

In [ ]:
# Complex Literals
x =3.14j
print(x.real,x.imag)

0.0 3.14

In [ ]:
# String Literals
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = '''
This is a
message
written
by Me.
'''
multiline_str

'\nThis is a\nmessage\nwritten \nby Me.\n'

In [ ]:
# Boolean Literals (True => 1 False => 0 , python internally understand as.)
a = True + 4
b = False + 20
print(a,b)

5 20

In [ ]:
k
a = 5
b = 20
print("Program Error")

NameError: name 'k' is not defined

In [ ]:
# None Literals
k = None
a = 5
b = 20
print("No Error")

No Error