<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/session3_strings_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
# Code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
# Code here

n = int(input('enter n'))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n2
2.0

# Nested Loops

In [ ]:
# Examples -> unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1

User enter  number of rows e.g row = 5 <br>
\* <br>
** <br>
*** <br>
**** <br>
*****<br>

In [ ]:
# code here

rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows10
*
**
***
****
*****
******
*******
********
*********
**********

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
# Code here
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

enter number of rows4
1
121
12321
1234321

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break # can be used in linear search.
  else:
    print(i)

enter lower range10
enter upper range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
for i in range(1,10):
  pass # to avoid error with empty body

Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## Creating Stings

In [ ]:
s = 'hello'
s = "hello"
# the above string can be used to handle certain scenarios. like to print It's my name( For this we cannot use single quotes)
# multiline strings used for menu string
s = '''hello'''
s = """hello"""
s = str('hello')
print(s)

hello

In [ ]:
"it's raining outside"

"it's raining outside"

## Accessing Substrings from a String

In [ ]:
# Indexing - positive indexing and negative indexing
# It is used to extract single character.
# Positive Indexing starts from 0 and  from left to right
s = 'hello world'
print(s[41])

IndexError: ignored

In [ ]:
# Negative Indexing starts from -1 from right to left
s = 'hello world'
print(s[-3])

r

## Slicing
- Used to extract multiple characters.
- Syntax

[ startIndex , endIndex , stepsize and ordering ]
<br>
endIndex -> This position is excluded.
<br>
ordering -> positive => extracting in same order<br>
          -> Negative => extracting in reverse order
<br>Examples:
<br> [:] represent extracting or copying whole string
 <br>     [::] same as [:]
 <br>     [::-1] represent extracting whole string in reverse order
 <br>  **When even taking negative stepsize or reversing string, startIndex must be greater than endIndex**

In [5]:
# Whenever trying to reverse string , StartIndex must be greater than endIndex
# Examples
name = "Ram Prasad"
# When printing reverse string by making endIndex greater than startIndex, it doesn't show result
print(name[0:3:-1])
# when startIndex greater than endIndex
print(name[4:0:-1])

P ma

In [7]:
# Slicing - Used to extract multiple characters
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## Editing and Deleting in Strings

In [ ]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: ignored

In [ ]:
s = 'hello world'
del s
print(s)

NameError: ignored

In [ ]:
# whole string can be deleted but part of string cannot be deleted because when trying to delete part of string, it results in editing of string since string is immutable types, so not allowed

s = 'hello world'
del s[-1:-5:2]
print(s)

TypeError: ignored

## Operations on Strings

- Arithmetic Operations - 2 operators only works (addition, multiplication)
- Relational Operations - all works
- Logical Operations - not actually used but may asked in interviews
- Loops on Strings
- Membership Operations

In [ ]:
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
print('delhi'*5)

delhidelhidelhidelhidelhi

In [ ]:
print("*"*50) # can be used as table top border

**************************************************

In [ ]:
'delhi' != 'delhi'

False

In [ ]:
'mumbai' > 'pune'
# lexiographically i.e ASCII character wise comparision

False

In [ ]:
'Pune' > 'pune'

False

In [ ]:
# with 'and' operator, if first string is true, it checks for next string and if true it goes until last string is reached.
#                       if first string is false, it print that string and don't proceed to next string.
'hello' and 'world'

'world'

In [ ]:
# with 'or' operator, if first string is false, it check for next string and if again false, it goes until last string to determine result
#                     if first string is true, it print that string and don't proceed to next string.
'hello' or 'world'

'hello'

In [ ]:
# empty string is treated as False
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'hello' and 'world'

'world'

In [ ]:
not 'hello'

False

In [ ]:
# string in python is iterable.
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

In [ ]:
'D' in 'delhi'

False

## Common Functions
<br> This is applicable work for all data types i.e string, list, set, dictionary , tuple
- len
- max
- min
- sorted

In [ ]:
# calculates length of string including space
len('hello world')

11

In [ ]:
# extract maximum value ASCII character
max('hello world')

'w'

In [ ]:
# extract minimum value ASCII Character
min('hello world')

' '

In [ ]:
# convert string to list but sorted according to ASCII character in ascending order
# useful when we need list of character from sentence because split('') doesnot work.
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [ ]:
# covert string to list and sorted in descending order according to ASCII character
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## Capitalize/Title/Upper/Lower/Swapcase

This only works for string datatype only.

In [ ]:
s = 'hello world'
print(s.capitalize()) # convert first character of the given sentence to capital.
# inorder to store user name in database.
print(s)

Hello world
hello world

In [ ]:
s.title() # convert first character of each word present in sentence to capital
# Blog heading is in titlecase.

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
'Hello Wolrd'.lower()

'hello wolrd'

In [ ]:
'HeLlO WorLD'.swapcase()

'hElLo wORld'

## Count/Find/Index - used when working with substring

In [ ]:
# count is used to calculate the frequency of sub-string in given string
'my name is nitish'.count('i') # count presence of 'i' in given sentence

3

In [ ]:
# find is used to find index or position of given substring in given string
# return starting index of substring if present
# return -1 if substring is not present.
'my name is nitish'.find('x')
'my name is nitish'.find('i')
'my name is nitish'.find('x')

-1

In [ ]:
# index function work same as find function but if substring is not present it throws error instead of -1.
'my name is nitish'.index('x')

ValueError: substring not found

## endswith/startswith

In [ ]:
'my name is nitish'.endswith('sho')

False

In [ ]:
'my name is nitish'.startswith('1my')

False

## format - used to insert variable value in given string
- we also have f-string(old way) but not generally used in industry.

In [ ]:
name = 'nitish'
gender = 'male'
'Hi my name is {} and I am a {}'.format(name,gender) # automatically print variable based on order defined in format.
'Hi my name is {1} and I am a {0}'.format(gender,name) # specifying order to determine which variable to print first

Hi my name is male and I am a nitish

'Hi my name is nitish and I am a male'

## isalnum/ isalpha/ isdigit/ isidentifier

In [8]:
# to check if string is made of alphabet and number only.
'nitish1234%'.isalnum()

False

In [ ]:
# to check if string is made of alphabet only.
'nitish'.isalpha()

True

In [ ]:
# to check if string is made of or contain number only.
'123abc'.isdigit()

False

In [9]:
# to check if it can be valid identifier
'first-name'.isidentifier()

False

## Split/Join
This is most important method

In [ ]:
# split method is used to convert string into list
'ram,shyam,hari,prasad'.split(',') # seperate based on ','
'hi my name is nitish'.split() # default - seperate based on space
'This$is$my$house'.split(sep="$") # separate based on '$'

# 'this is a message'.split('') # doesn't work for this we need global sorted function.

['This', 'is', 'my', 'house']

In [ ]:
# join method is used to convert list of string into string
# List must have all elements string type.
lst = ['hi', 'my', 'name', 'is', 'nitish']
" ".join(lst) # join lst by space
"-".join(lst) # join lst by hypen

'hi-my-name-is-nitish'

## Replace

In [ ]:
# Replace is used to replace particular substring
'hi my name is nitish'.replace('nitisrgewrhgh','campusx')

'hi my name is nitish'

## Strip

In [ ]:
'nitish                           '.strip()

'nitish'

## Methods for SubString :
- startswith
- endswith
- index
- find
- count

## Methods for String
### Fonts Decoration
- title
- lower
- upper
- swapcase
- capitalize
### String Made of
- isdigit
- isalnum
- isalpha
- isidentifier

### other method
- split
- join
- replace
- strip
- format

In [ ]:
# Find the length of a given string without using the len() function
string = input("Enter string : ")
count = 0
for char in string:
  count += 1
print(count)

Enter string : My name is sujan thapaliya
26

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

email = input("Enter Email : ")
username = ""
for char in email :
  if char.isalnum():
    username += char
  else:
    break
print("username is {}".format(username))

Enter Email : nitish24singh@gmail.com
username is nitish24singh

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

userInput = input("Enter any String : ")
char = input("Enter any character : ")
# count = userInput.count(char)
count = 0
for i in userInput :
  if char == i :
    count = count + 1
print("Occurence of  {} in {} is {}".format(char,userInput,count))

Enter any String : hello how are you
Enter any character : h
Occurence of  h in hello how are you is 2

In [ ]:
# Write a program which can remove a particular character from a string.
userInput = input("Enter any string : ")
char = input("Enter a character to remove : ")
removedString = ""
for new_char in userInput :
  if char != new_char :
    removedString += new_char
print("removed string is {}".format(removedString))

Enter any string : Hello how are you
Enter a character to remove : H
removed string is ello how are you

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam
userInput = input("Enter any string : ")
reversedInput = userInput[::-1]
if userInput == reversedInput :
  print("{} is palindrome.".format(userInput))
else :
  print("{} is not palindrome.".format(userInput))

Enter any string : suan
suan is not palindrome.

In [ ]:
# Write a program to count the number of words in a string without split()
userInput = input("Enter any string : ")
count = 0
for i in userInput :
  if i == ' ':
    count = count + 1
count = count + 1
print("No. of words in a string is {}".format(count))

Enter any string : Hello how are you
No. of words in a string is 4

In [ ]:
# Write a python program to convert a string to title case without using the title()
userInput = input("Enter any string : ")
titlecasedString = ""
prevChar = ""
for i in userInput :
  currentChar = i
  if prevChar == "" or prevChar == " " :
    currentChar = i.upper()
  titlecasedString += currentChar
  prevChar = currentChar
print(titlecasedString)

Enter any string : How old are your parents?
How Old Are Your Parents?

In [ ]:
# Write a program that can convert an integer to string.

## Example Programs

In [ ]:
# Find the length of a given string without using the len() function

s = input('enter the string')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the stringnitish
length of string is 6

In [ ]:
# Extract username from a given email.
# Eg if the email is nitish24singh@gmail.com
# then the username should be nitish24singh

s = input('enter the email')

pos = s.index('@')
print(s[0:pos])

enter the emailsupport@campusx.in
support

In [ ]:
# Count the frequency of a particular character in a provided string.
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('enter the email')
term = input('what would like to search for')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency',counter)

enter the emailhi how are you
what would like to search foro
frequency 2

In [ ]:
# Write a program which can remove a particular character from a string.
s = input('enter the string')
term = input('what would like to remove')

result = ''

for i in s:
  if i != term:
    result = result + i

print(result)

enter the stringnitish
what would like to removei
ntsh

In [ ]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# malayalam

s = input('enter the string')
flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('Not a Palindrome')
    break

if flag:
  print('Palindrome')

enter the stringpython
Not a Palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the stringhi how are you
['hi', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to title case without using the title()
s = input('enter the string')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the stringhi my namE iS NitiSh
Hi My Name Is Nitish

In [ ]:
# Write a program that can convert an integer to string.

number = int(input('enter the number'))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number345
345
<class 'str'>