<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_1_tasks_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
# Write your code here
print("Data","Science","Mentorship","Program",sep="-",end="-started-")
print("By","CampusX",sep="-")

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
# user input temperature in celcius
temp = float(input("Enter temperature in celcius degree : "))
# calculation
fahrenheit = (9/5)*temp + 32
print("Equivalent Fahrenheit temperature is : ",fahrenheit,"degree fahrenheit")

Enter temperature in celcius degree : 43
Equivalent Fahrenheit temperature is :  109.4 degree fahrenheit

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [4]:
# Write your code here
# user input 2 integer number
num_1 = int(input("Enter first number : "))
num_2 = int(input("Enter second number : "))
print("Before Swapping : num_1 :",num_1,"num_2 :",num_2)
temp = num_1
num_1 = num_2
num_2 = temp
print("After Swapping : num_1 :",num_1,"num_2 :",num_2)

Enter first number : 3
Enter second number : 5
Before Swapping : num_1 : 3 num_2 : 5
After Swapping : num_1 : 5 num_2 : 3

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
# Write your code here
# user input 2 co-ordinate
print("First Co-ordinate : ")
x1_x = float(input("Enter x-coordinate : "))
x1_y = float(input("Enter y-coordinate : "))
print("Second Co-ordinate : ")
x2_x = float(input("Enter x-coordinate : "))
x2_y = float(input("Enter y-coordinate : "))

x_distance = (x2_x - x1_x)**2
y_distance = (x2_y - x1_y)**2
distance = (x_distance + y_distance)**0.5

print("Distance : ",round(distance,2))
# round(variable, no. of decimal place)

First Co-ordinate :
Enter x-coordinate : 0
Enter y-coordinate : 0
Second Co-ordinate :
Enter x-coordinate : 2
Enter y-coordinate : 2
Distance :  2.83

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
# user input principal, rate and time period
principal = float(input("Enter principal : "))
rate = float(input("Enter rate : "))
time = int(input("Enter time period : "))
simple_interest = (principal * rate * time )/ 100
print("Simple Interest : ",simple_interest)

Enter principal : 5000
Enter rate : 2
Enter time period : 1
Simple Interest :  100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [8]:
# Write your code here
# user input total no of heads and legs
head = int(input("Enter total no. of heads : "))
leg = int(input("Enter total no. of legs : "))
# performing calculation
dog = (leg // 2) - head
chicken = head - dog
print("No. of chicken and dog are :",chicken,"and",dog,"respectively.")

Enter total no. of heads : 4
Enter total no. of legs : 10
No. of chicken and dog are : 3 and 1 respectively.

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
# user input
number = int(input("Enter number : "))
# using formula
sum_of_square = (number*(number+1)*(2*number+1))/6
print("Sum of square is : ",sum_of_square)

Enter number : 2
Sum of square is :  5.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [9]:
# Write your code here
# user input first 2 terms
a = int(input("Enter first term : "))
b = int(input("Enter second term : "))
n = int(input("Value of n : "))
nth_term = a + (n - 1)*(b - a)
print(n,"th term is :",nth_term)

Enter first term : 3
Enter second term : 6
Value of n : 5
5 th term is : 15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [17]:
# Write your code here
# user input first and second fraction
print("First Fraction : ")
numerator_1 = int(input("Enter numerator : "))
denominator_1 = int(input("Enter denominator : "))
print("Second Fraction : ")
numerator_2 = int(input("Enter numerator : "))
denominator_2 = int(input("Enter denominator : "))
# calculation
numerator = numerator_1 * denominator_2 + numerator_2 * denominator_1
denominator = denominator_1 * denominator_2
print("Sum : {}/{}".format(numerator,denominator))

First Fraction :
Enter numerator : 3
Enter denominator : 7
Second Fraction :
Enter numerator : 2
Enter denominator : 11
Sum : 47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [19]:
# Write your code here
# User input milk tank and glass dimension
print("Milk tank Dimension : ")
tank_height = int(input("Enter milk tank height : "))
tank_width = int(input("Enter width of milk tank : "))
tank_breadth = int(input("Enter breadth of milk tank : "))
print("Glass Dimension : ")
glass_height = int(input("Enter glass height : "))
glass_radius = int(input("Enter glass radius : "))
# calculation
tank_volume = tank_height * tank_width * tank_breadth
glass_volume = 3.141597 * (glass_radius ** 2 ) * glass_height
number_of_glass = tank_volume // glass_volume
print("No. of glass :",number_of_glass)

Milk tank Dimension :
Enter milk tank height : 10
Enter width of milk tank : 19
Enter breadth of milk tank : 10
Glass Dimension :
Enter glass height : 5
Enter glass radius : 2
No. of glass : 30.0