<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_6_task_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
input_list = [1,2,3,3,3,4,5]
def unique_element(input_list):
  unique_list = []
  for item in input_list:
    if item not in unique_list:
      unique_list.append(item)
  return unique_list
print(unique_element(input_list))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [63]:
# Write code here
def sort_string(string):
  return '-'.join(sorted(string.split('-')))

input_string = "green-red-yellow-black-white"
output = sort_string(input_string)
print(output)

black-green-red-white-yellow

In [66]:
# Write code here - Solution

def sort_sequence(seq):
  temp = []

  for i in sorted(seq.split('-')):
    temp.append(i)

  return '-'.join(temp)

s = 'green-red-yellow-black-white'
sort_sequence(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [68]:
# Write code here
Sample_String = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def lower_upper(string):
  '''
  This function takes string and return list containing lowercase and uppercase count
  input : string
  output : list
  '''
  lowercase = uppercase = 0
  for item in string:
    if item.isupper():
      uppercase = uppercase + 1
    elif item.islower():
      lowercase = lowercase + 1
    else:
      pass
  return lowercase , uppercase

lowercase,uppercase = lower_upper(Sample_String)
print("No. of Upper case characters : {}".format(uppercase))
print("No. of lower case characters : {}".format(lowercase))

No. of Upper case characters : 9
No. of lower case characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [70]:
# Write code here -
sample_list = [1,2,3,4,5,6,7,8,9]
def filter_even(int_list):
  L = []
  for i in int_list:
    if i%2 == 0:
      L.append(i)
  return L
print(filter_even(sample_list))

[2, 4, 6, 8]

In [12]:
# Write code here - using lambda function
sample_list = [1,2,3,4,5,6,7,8,9]
def filter_even(int_list):
  '''
  This function takes list of integer as input and return list containing even number.
  input : list
  output: list
  '''
  return list(filter(lambda x: x%2 == 0,int_list))
print(filter_even(sample_list))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [14]:
# Write code here
user_input = int(input("Enter a number : "))
def is_perfect_number(num):
  '''
  This function takes integer number as input and return whether number is perfect or not.
  input : int number
  output : bool
  '''
  sum = 0
  for i in range(1,num):
    if num % i == 0:
      sum += i
  return sum == num
print(is_perfect_number(user_input))

Enter a number : 6
True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [17]:
# Write code here
def concate_dict(*args):
  output = {}
  for dictionary in args:
    output.update(dictionary)
  return output

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concate_dict(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [18]:
# Write code here
def concate_dict(*args):
  output = {}
  for dictionary in args:
    for key in dictionary:
      output[key] = dictionary[key]
  return output

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concate_dict(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [34]:
def most_occurence(input_string):
  # count occurence of each word
  output = {}
  for item in input_string.split():
    if item not in output:
      output[item] = 1
    else:
      output[item] += 1
  # find max occurence value
  max_occur = max(output.values())
  # find corresponding max value key
  for key in output:
    if output[key] == max_occur:
      print("{} -> {}".format(key,max_occur))
      break

most_occurence("hello how are you i am fine thank you")

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [74]:
# Write code here
import math
input = [10,13,42,15,37,22,39,41,50]
def create_histogram(L):
  min_bin = math.floor(min(L)/10)*10
  max_bin = math.ceil((max(L)/10))*10
  output = {}
  for val in range(min_bin,max_bin,10):
    count = 0
    for j in L:
      if val+1<= j <=val+10 :
        count += 1
    output["{}-{}".format(val+1,val+10)] = count

  return output

create_histogram(input)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

**enumerate function**
- The enumerate() function is a built-in Python function that lets you loop through a list (or any iterable) while automatically keeping track of the index.
- creates enumerate object.
- use when need both index and value (basically while iterating)
- when typecast to list, it creates list of tuple(pos or index,item) indicating item index and item
- bascially used with iterables.
```
syntax:
enumerate(iterable, start=0)
- iterable → list, tuple, string, etc.
- start → the starting index (default = 0)
```
```
L = [0.909,1.2,2,4,3.9]
Inorder to remember position of each element when sorted or arrange
we make use of enumerate function

list(enumerate(L))
o/p: [(0,0.909),(1,1.2),(2,2.4),(3,4),(4,3.9)]

- We can perform sorting acc. to asc or desc remembering original position of list item but using sorted function.
```

In [170]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(i,fruits[i])
# Cleaner, safer, and more Pythonic.
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry
0 apple
1 banana
2 cherry

In [171]:
# With a custom starting index
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 banana
3 cherry

In [134]:
L = [0.909,1.2,2.4,3.9,1.0]
new_list = list(enumerate(L)) # convert item to (index,item)
print(new_list)

index = max(new_list) # gives maximum value based on index but we want acc. to values
print(index)
max_values = sorted(new_list,reverse=True) # sort based on index but not acc. to values
print(max_values)
indexwise_max = sorted(new_list,key = lambda x:x[0]) # sort acc. to index
print(indexwise_max)
valuewise_max = sorted(new_list,key = lambda x:x[1]) # sort acc. to value

# key = lambda x:x[1] # x[0]->index and x[1]-> values # specify to sort acc. to values
valuewise_max

[(0, 0.909), (1, 1.2), (2, 2.4), (3, 3.9), (4, 1.0)]
(4, 1.0)
[(4, 1.0), (3, 3.9), (2, 2.4), (1, 1.2), (0, 0.909)]
[(0, 0.909), (1, 1.2), (2, 2.4), (3, 3.9), (4, 1.0)]

[(0, 0.909), (4, 1.0), (1, 1.2), (2, 2.4), (3, 3.9)]

In [135]:
# Write code here # using List

def shortest_dist(points,query):
  temp = []
  for i in points:
    distance = ((i[0]-query[0])**2 + (i[1]-query[1])**2)**0.5
    temp.append(distance)
  return points[sorted(list(enumerate(temp)),key = lambda x:x[1])[0][0]]

points = [(1,1),(2,2),(3,3),(4,4)]
query = (0,0)
shortest_dist(points,query)

(1, 1)

In [84]:
# Write code here # using dictionary
import math
def shortest_dist(points,query):
  d = {}
  for i in points:
    distance = ((i[0]-query[0])**2 + (i[1]-query[1])**2)**0.5
    d[i] = distance

  dist_max = min(d.values())
  for i in d:
    if d[i] == dist_max:
      return i

coordinates = [(1,1),(2,2),(3,3),(4,4)]
shortest_dist(coordinates,(0,0))

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

**Bag-of-words**
- algorithm in machine learning NLP to convert text into number.
```
input : list of string i.e ["cat mat bat","cat cat cat","bat bat bat"]
output : list of list i.e [[1,1,1,0],[3,0,0,0],[0,0,2,1]]

step1 : Find vocabulary i.e find all the unique word from all given sentences.(4 unique words -> cat mat bat rat)
1. cat mat bat
2. cat cat cat
3. bat bat rat
step2 : Convert to number by counting occurence of unique words in each sentences

Bag of Word representation for each sentences.
    cat mat bat rat
1. [1   1   1    0]
2. [3   0   0    0]
3. [0   0   2    1]
```

In [146]:
# Write code here

def bow(L):
  # step 1 : find unique words in all given sentences
  vocab = set()
  for i in L:
    vocab.update(i.split()) # set union operation i.e s1 = s1 union s2 where s2 is iterables(set,tuple,list)

  # perform step 2
  result = []
  for i in L:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))
  print(vocab)
  return result
L = [
    "cat mat rat cat",
    "sat bat fat cat rat",
    "pat cat mat rat"
]
bow(L)

{'sat', 'rat', 'cat', 'pat', 'mat', 'bat', 'fat'}

[[0, 1, 2, 0, 1, 0, 0], [1, 1, 1, 0, 0, 1, 1], [0, 1, 1, 1, 1, 0, 0]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [148]:
# Write code here
list1 = [1,2,3,4]
list2 = [6,7,8,9]
list3 = [10,20,30,40]
# sum_of_list = list(map(lambda item:functools.reduce(lambda x,y:x+y,item),zip(list1,list2,list3)))
sum_of_list = list(map(lambda x,y,z:x+y+z,list1,list2,list3))
sum_of_list

[17, 29, 41, 53]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [152]:
# Write code here - best solution
list1 = [1,2,3,4,5,6]
list(map(lambda x,y:x**y,list1,range(len(list1))))

[1, 2, 9, 64, 625, 7776]

In [ ]:
# Write code here - little bit complex
input_list = [1,2,3,4,5,6]
index_dict_list = []
for index in range(len(input_list)):
  index_dict_list.append((index,input_list[index]))
#using map
output = list(map(lambda x : x[1]**x[0],index_dict_list))
print(output)

[1, 2, 9, 64, 625, 7776]

In [ ]:
# Write code here - list comprehension
def index_power_list(integer_list):
  return [integer_list[i]**i for i in range(len(integer_list))]

input_list = [1,2,3,4,5,6]
output = index_power_list(input_list)
print(output)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [160]:
# Write code here # best solution
string_list = "FIFA world cup in 2022 will take place in Qatar"
filtered_list = list(filter(lambda x:x.lower() in 'aeiou',string_list))
filtered_list

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [154]:
# Write code here
str1 = "FIFA world cup in 2022 will take place in Qatar"

list(filter(lambda x: True if x.lower()  in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [162]:
# Write code here
initial_list = [[1,2,3],
                [3,6,7],
                [7,5,4]]

import functools
functools.reduce(lambda x,y:x+y,initial_list) # list merging
# x -> [1,2,3] y->[3,6,7] x+y->[1,2,3,3,6,7]
# x->  [1,2,3,3,6,7] y->[7,5,4] x+y->[1,2,3,3,6,7,7,5,4]

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [165]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
# write code here
list(map(lambda x:x["fname"]+' '+x["lname"],list(filter(lambda x:x['grade']=="highly-skilled",employees))))

['Neha Singh', 'Abhinav Sharma']

In [166]:
list(map(lambda x:x["fname"]+' '+x["lname"],list(filter(lambda x:True if x['grade']=="highly-skilled" else False,employees))))

['Neha Singh', 'Abhinav Sharma']