<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [4]:
# Write code here
# Method 1
# user input salary
salary = float(input("Enter salary in lakhs : "))
if salary < 5 :
  salary = salary * 0.82
elif salary < 10 :
  salary = salary * 0.72
elif salary < 20 :
  salary = salary * 0.62
else :
  salary = salary * 0.52
monthly_salary = salary / 12
print("Monthly salary : ",round(monthly_salary,2),"lakhs")

Enter salary in lakhs : 12
Monthly salary :  0.62 lakhs

In [3]:
# Write code here
# Method 2
# user input salary
salary = float(input("Enter salary in lakhs : "))
hra = 0.1 * salary
da = 0.05 * salary
pf = 0.03 * salary
if salary < 5 :
  tax = 0
elif salary < 10 :
  tax = 0.1 * salary
elif salary < 20 :
  tax = 0.2 * salary
else :
  tax = 0.3 * salary
annual_salary = salary - hra - da -pf -tax
print("Monthly salary : ",round(annual_salary/12,2),"lakhs")

Enter salary in lakhs : 12
Monthly salary :  0.62 lakhs

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here
# user input three angle of triangle
print("Enter 3 angle of a triangle : ")
first_angle = float(input())
second_angle = float(input())
third_angle = float(input())
# perform calculation
sum = first_angle + second_angle + third_angle
if sum == 180 and first_angle > 0 and second_angle > 0 and third_angle > 0 :
  print("It form triangle.")
else :
  print("It doesn't form triangle.")

Enter 3 angle of a triangle :
45
80.7343
55
It doesn't form triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
# user input costprice and selling price
cost_price = float(input("Enter cost price : "))
selling_price = float(input("Enter selling price : "))
profit = selling_price - cost_price
# perform calculation
if profit > 0 :
  print("Profit")
elif profit < 0:
  print("Loss ")
else :
  print("Neither profit nor loss")

Enter cost price : 5000
Enter selling price : 4000
Loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [6]:
# Write code here
# display menu
print("""
1. cm to ft
2. km to miles
3. USD to INR
4. exit""")
# user input
option = input("Enter any one of option : ")
# perform calculation
if option == '1' :
  centi_meter = float(input("Enter centimeter : "))
  ft = centi_meter / 30.48
  print(centi_meter,"cm =",ft,"ft")
elif option == '2' :
  kilo_meter = float(input("Enter kilometer : "))
  miles = kilo_meter / 1.61
  print(kilo_meter,"km =",miles,"miles")
elif option == '3' :
  USD = float(input("Enter amount in USD : "))
  INR = 88 * USD
  print(USD,"USD =",INR,"INR")
elif option == '4' :
  exit(0)
else :
  print("Invalid Input")

1. cm to ft
2. km to miles
3. USD to INR
4. exit
Enter any one of option : 4

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
# user input no. of term to print
no_of_term = int(input("Enter no. of terms to print : "))
# calculation
first_term , second_term = 0 , 1
count = 2
print(first_term,second_term,end=" ")
while count < no_of_term :
  third_term = first_term + second_term
  print(third_term,end=" ")
  first_term = second_term
  second_term = third_term
  count = count + 1

Enter no. of terms to print : 10
0 1 1 2 3 5 8 13 21 34

In [1]:
# Write code here
# user input no. of term to print
no_of_term = int(input("Enter no. of terms to print : "))
# calculation
first_term , second_term = 0 , 1
for i in range(1,no_of_term+1):
  print(first_term,end=" ")
  third_term = first_term + second_term
  first_term = second_term
  second_term = third_term

Enter no. of terms to print : 10
0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
# user input
num = int(input("Enter integer number : "))
fact = 1
# perform calculation
for i in range(1,num+1) :
  fact = fact * i
print("Factorial of",num,"is",fact)

Enter integer number : 5
Factorial of 5 is 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
# user input number
num = int(input("Enter integer number : "))
temp = num
reverse = 0
# perform calculation
while temp != 0 :
  remainder = temp % 10
  temp = temp // 10
  reverse = reverse * 10 + remainder
print("Reverse of",num,"is",reverse)

Enter integer number : 76542
Reverse of 76542 is 24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# user input
num = int(input("Enter an integer number : "))
sum = 0
i = 1
while i <= num :
  if i % 5 != 0 :
    if sum + i > 300:
      break
    else :
      sum += i
  i += 1
print(sum)

Enter an integer number : 30
276

In [3]:
# Write Code here
num = int(input("Enter an integer number : "))
sum = 0
for i in range(1,num+1):
  if i % 5 == 0 :
    continue
  sum += i
  if sum > 300 :
    sum -= i
    break
print(sum)

Enter an integer number : 10
40

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0
while True :
  # user input
  num = int(input("Enter a number : "))
  if num == 0:
    break
  count = count + 1
  sum += num
average = sum / count
print("sum = {} and average = {}".format(sum,average))

Enter a number : 1
Enter a number : 2
Enter a number : 3
Enter a number : 4
Enter a number : 5
Enter a number : 0
sum = 15 and average = 3.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
start = 2000
end = 3200
# perform calculation
for num in range(start,end+1) :
  if num % 7 ==0 and num % 5 != 0 :
    print(num,end = " ")

2002 2009 2016 2023 2037 2044 2051 2058 2072 2079 2086 2093 2107 2114 2121 2128 2142 2149 2156 2163 2177 2184 2191 2198 2212 2219 2226 2233 2247 2254 2261 2268 2282 2289 2296 2303 2317 2324 2331 2338 2352 2359 2366 2373 2387 2394 2401 2408 2422 2429 2436 2443 2457 2464 2471 2478 2492 2499 2506 2513 2527 2534 2541 2548 2562 2569 2576 2583 2597 2604 2611 2618 2632 2639 2646 2653 2667 2674 2681 2688 2702 2709 2716 2723 2737 2744 2751 2758 2772 2779 2786 2793 2807 2814 2821 2828 2842 2849 2856 2863 2877 2884 2891 2898 2912 2919 2926 2933 2947 2954 2961 2968 2982 2989 2996 3003 3017 3024 3031 3038 3052 3059 3066 3073 3087 3094 3101 3108 3122 3129 3136 3143 3157 3164 3171 3178 3192 3199

In [6]:
# Write Code here
L = []
for i in range(2000,3200+1):
  if i % 7 ==0 and i % 5 != 0 :
    L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [7]:
# Write code here
L = []
for num in range(1000,3001):
  is_even = True
  temp = num
  while temp != 0 :
    remainder = temp % 10
    temp //=10
    if remainder % 2 != 0 :
      is_even = False
      break
  if is_even :
    L.append(str(num))
print(','.join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [16]:
from pickle import NONE
# Write code here
init_x_pos = init_y_pos = 0
final_y_pos = final_x_pos = 0
# user input direction
while True :
  user_input = input("Enter direction and movement : ")
  if user_input == '!':
    break
  direction = user_input.split(' ')[0].upper()
  movement = float(user_input.split(' ')[1])
  print(direction,movement)
  if direction == 'UP' :
    final_y_pos += movement
  elif direction == 'DOWN' :
    final_y_pos -= movement
  elif direction == 'LEFT' :
    final_x_pos -= movement
  elif direction == 'RIGHT' :
    final_x_pos += movement
  else :
    pass
distance = float((final_y_pos ** 2 + final_x_pos ** 2)**(1/2))
print("Distance : {}".format(distance))

Enter direction and movement : up 10
UP 10.0
Enter direction and movement : down 5
DOWN 5.0
Enter direction and movement : left 13
LEFT 13.0
Enter direction and movement : !
Distance : 13.92838827718412

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [17]:
# Write code here
# user input integer number
num = int(input("Enter integer number : "))
is_prime = True
if num == 1 :
  is_prime = False
else :
  for i in range (2,num) :
    if num % i == 0:
      is_prime = False
      break
if is_prime :
  print("{} is a prime number.".format(num))
else :
  print("{} is not a prime number.".format(num))

Enter integer number : 17
17 is a prime number.

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here
# user input interger number
number = int(input("Enter integer number : "))
temp = number
sum = 0
while temp != 0:
  remainder = temp % 10
  temp //= 10
  sum += remainder ** 3
if sum == number :
  print("{} is armstrong number".format(number))
else :
  print("{} is not an armstrong number".format(number))

Enter integer number : 400
400 is not an armstrong number

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here
## user input hour and minute hand
hours_hand = int(input("Enter hour hand : "))
minutes_hand = int(input("Enter minutes hand : "))
# perform calculation
# find angle
hours_angle = 360/12 * hours_hand
minutes_angle = 360/12 * minutes_hand
# handle sign
if hours_angle > minutes_angle :
  difference = hours_angle - minutes_angle
else :
  difference = minutes_angle - hours_angle
# findout difference
if difference > 180 :
  difference = 360 - difference
print(difference)

Enter hour hand : 1
Enter minutes hand : 8
150.0

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here
# User input 4 co-ordinate
# user input for first rectangle
print('''
Rectangle 1 :
Top Right co-ordinate :
''')
r1_tr_x = int(input("Enter x-coordinate : "))
r1_tr_y = int(input("Enter y-coordinate : "))
print("Bottom Left Co-ordinage : ")
r1_bl_x = int(input("Enter x-coordinate : "))
r1_bl_y = int(input("Enter y-coordinate : "))
# user input for second rectangle
print('''
Rectangle 2 :
Top Right co-ordinate :
''')
r2_tr_x = int(input("Enter x-coordinate : "))
r2_tr_y = int(input("Enter y-coordinate : "))
print("Bottom Left Co-ordinage : ")
r2_bl_x = int(input("Enter x-coordinate : "))
r2_bl_y = int(input("Enter y-coordinate : "))

# check if overlap or not
# check if top left of second rectangle lies between first rectangle
if r2_tr_x  >= r1_tr_x and r2_tr_x <= r1_bl_x :
  if r2_tr_y <= r1_tr_y and r2_tr_y >= r1_bl_y :
    print("Second rectangle lies with in first rectangle.")
  elif r2_bl_y >= r1_bl_y and r2_bl_y <= r1_tr_y :
    print("Second rectangle lies with in first rectangle.")
  else :
    print("Does not lie.")
elif r2_bl_x >= r1_tr_x and r2_bl_x <= r1_bl_x :
  if r2_bl_y >= r1_bl_y and r2_bl_y <= r1_tr_y:
    print("Second rectangle lies with in first rectangle.")

Rectangle 1 :
Top Right co-ordinate :

Enter x-coordinate : 1
Enter y-coordinate : 2
Bottom Left Co-ordinage :
Enter x-coordinate : 4
Enter y-coordinate : 5

Rectangle 2 :
Top Right co-ordinate :

Enter x-coordinate : 1
Enter y-coordinate : 3
Bottom Left Co-ordinage :
Enter x-coordinate : 9
Enter y-coordinate : 10
Does not lie.