<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_6_task_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
input_list = [1,2,3,3,3,4,5]
def unique_element(input_list):
  unique_list = []
  for item in input_list:
    if item not in unique_list:
      unique_list.append(item)
  return unique_list
print(unique_element(input_list))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
input_string = "green-red-yellow-black-white"
def sort_hypen_separated_string(string):
  str_list = input_string.split('-')
  str_list.sort()
  return '-'.join(str_list)
output = sort_hypen_separated_string(input_string)
print(output)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
Sample_String = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
def count_alphabet(string):
  '''
  This function takes string and return list containing lowercase and uppercase count
  input : string
  output : list
  '''
  lowercase = uppercase = 0
  for item in string:
    if item >= 'A' and item <='Z':
      uppercase = uppercase + 1
    elif item >='a' and item <='z':
      lowercase = lowercase + 1
    else:
      pass
  return (lowercase,uppercase)

lowercase,uppercase = count_alphabet(Sample_String)
print("No. of Upper case characters : {}".format(uppercase))
print("No. of lower case characters : {}".format(lowercase))

No. of Upper case characters : 9
No. of lower case characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
sample_list = [1,2,3,4,5,6,7,8,9]
def filter_even(int_list):
  '''
  This function takes list of integer as input and return list containing even number.
  input : list
  output: list
  '''
  return list(filter(lambda x: x%2 == 0,int_list))
print(filter_even(sample_list))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
user_input = int(input("Enter a number : "))
def is_perfect_number(num):
  '''
  This function takes integer number as input and return whether number is perfect or not.
  input : int number
  output : bool
  '''
  sum = 0
  for i in range(1,num//2 + 1):
    if num % i == 0:
      sum += i
  return True if sum == num else False
print(is_perfect_number(user_input))

Enter a number : 47
False

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def concate_dict(*args):
  '''
  This function takes any no. of dictionary and return concatenated dictionary
  input : any no. of dictionary
  output : concatenated dictionary
  '''
  output = {}
  for dictionary in args:
    for key in dictionary:
      output[key] = dictionary[key]
  return output

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print(concate_dict(dic1,dic2,dic3))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
import functools
def most_occurence_string(string):
  string_list = string.split(' ')
  visited_string = []
  occurence_string = {}
  # count occurence in dictionary
  for item in string_list:
    if item not in visited_string:
      occurence_string[item] = string_list.count(item)
      visited_string.append(item)
  # finding most occurence string
  return list(functools.reduce(lambda x,y:x if x[1]>y[1] else y,occurence_string.items()))

input = "hello how are you i am fine thank you"
output = most_occurence_string(input)
print("{} ->{}".format(output[0],output[1]))

you ->2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here
input = [13,42,15,37,22,39,41,50]
def put_label(num):
  '''
  This function takes any number as input and return its corresponding class interval
  input : int or float
  output : interval label
  '''
  if num<=10:
    return '0-10'
  elif num<=20:
    return '11-20'
  elif num <=30:
    return '21-30'
  elif num <=40:
    return '31-40'
  elif num <=50:
    return '41-50'
  else:
    return 'above 50'

def print_histogram(input_list):
  input_list.sort()
  histogram_dict = {}
  for item in input_list:
    label = put_label(item)
    if label not in histogram_dict:
      histogram_dict[label] = 1
    else:
      histogram_dict[label] = histogram_dict[label] + 1
  return histogram_dict

output = print_histogram(input)
print(output)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
import functools
import math
# Write code here
list_of_coordinates = [(1,1),(2,2),(3,3),(4,4)]
query_point = (0,0)

def find_nearest_point(coordinate_list,query_point):
  # create a dictionary that contains co-ordinate with distance
  coordinate_distance = {}
  for item in coordinate_list:
    value = math.sqrt((item[0]-query_point[0])**2 + (item[1]-query_point[1])**2)
    coordinate_distance[item] = value
  # finding minimum distance point
  return list(functools.reduce(lambda x,y:x if x[1]<y[1] else y,coordinate_distance.items()))

output = find_nearest_point(list_of_coordinates,query_point)
print("Nearest to {} is {} with a distance of {}".format(query_point,output[0],output[1]))

Nearest to (0, 0) is (1, 1) with a distance of 1.4142135623730951

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# John likes to watch movies. Mary likes movies too.
# Mary also likes to watch football games.
# John likes to watch movies. Mary likes movies too. Mary also likes to watch football games.
# Write code here
def word_count(string):
  word_list = string.split(' ')
  visited_word = []
  output_dict = {}
  for item in word_list:
    if item not in visited_word:
      output_dict[item] = word_list.count(item)
      visited_word.append(item)
  return output_dict

user_input = "John likes to watch movies. Mary likes movies too."
output = word_count(user_input)
print(output)

{'John': 1, 'likes': 2, 'to': 1, 'watch': 1, 'movies.': 1, 'Mary': 1, 'movies': 1, 'too.': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
import functools
list1 = [1,2,3,4]
list2 = [6,7,8,9]
list3 = [10,20,30,40]
sum_of_list = list(map(lambda item:functools.reduce(lambda x,y:x+y,item),zip(list1,list2,list3)))
sum_of_list

[17, 29, 41, 53]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
input_list = [1,2,3,4,5,6]
index_dict_list = []
for index in range(len(input_list)):
  index_dict_list.append((index,input_list[index]))
#using map
output = list(map(lambda x : x[1]**x[0],index_dict_list))
print(output)

[1, 2, 9, 64, 625, 7776]

In [ ]:
# Write code here
def index_power_list(integer_list):
  return [integer_list[i]**i for i in range(len(integer_list))]

input_list = [1,2,3,4,5,6]
output = index_power_list(input_list)
print(output)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
string = input("Enter string : ")
string_list = list(string.lower())
filtered_list = list(filter(lambda x:x not in {'a','e','i','o','u'},string_list))
output_string = ''.join(filtered_list)
output_string

Enter string : my name is sujan thapaliya.

'my nm s sjn thply.'

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
# write code here
list(map(lambda x:x["fname"]+' '+x["lname"],list(filter(lambda x:x['grade']=="highly-skilled",employees))))

['Neha Singh', 'Abhinav Sharma']