<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_5_task_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [16]:
# Write code here -> Better Solution
test_list = [(5,6),(6,8),(6,10),(6,7),(7,13),(5,7)]
# find unique first index element in a set
unique = []
for i in test_list:
  unique.append(i[0])
unique = set(unique)

# merge same first element tuples
result = []
for i in unique:
  result.append([i])
  for j in test_list:
    if j[0] == i:
      result[-1].append(j[1])

# convert list of list into list of tuples
result = list(map(tuple,result))
result

[(5, 6, 7), (6, 8, 10, 7), (7, 13)]

In [ ]:
# write your code here - not a better way
test_list = [(5, 6), (5, 7), (5, 8), (6, 10),(7,13)]
visited_list = []
output_list = []
for i in range(len(test_list)):
  if test_list[i] in visited_list:
    continue
  visited_list.append(test_list[i])
  new_set = set()
  new_set.update(test_list[i])
  for j in range(i+1,len(test_list)):
    if test_list[i][0] == test_list[j][0]:
      new_set.update(test_list[j])
      visited_list.append(test_list[j])
  output_list.append(tuple(sorted(new_set)))
print(output_list)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [17]:
# Write code here
t = (1,5,7,8,10)

L = []
# handling first item
L.append(t[0]*t[1])

# handling middle item
for i in range(1,len(t)-1):
  L.append(t[i]*t[i-1] + t[i]*t[i+1])

# handling last item
L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

In [ ]:
# write your code here
tuples = (1,5,7,8,10)
output = []
for index in range(len(tuples)):
  if index == 0 :
    output.append(tuples[index]*tuples[index+1])
  elif index == len(tuples)-1 :
    output.append(tuples[index]*tuples[index-1])
  else:
    output.append(tuples[index]*(tuples[index-1] + tuples[index + 1]))
print("{}".format(tuple(output)))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [23]:
# write your code here
t1 =  (1,2,3,0)
# t2 = (0,1,2,3)
t2 = (1,2,3,0)

for i,j in zip(t1,t2):
  if i == j:
    continue
  else:
    print("t1 and t2 are not same")
    break
else:
  print("t1 and t2 are same")

t1 and t2 are same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
# write your code here
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
item_dict = {"List":0,"Set":0,"Tuples":0}
for item in list1 :
  if type(item) == set:
    item_dict["Set"] = item_dict["Set"] + 1
  elif type(item) == tuple :
    item_dict["Tuples"] = item_dict["Tuples"] + 1
  elif type(item) == list :
    item_dict["List"] = item_dict["List"] + 1

for key in item_dict:
  print("{}-{}".format(key,item_dict[key]))

List-2
Set-2
Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
# write your code here
num_of_records = int(input("Enter no. of records : "))
student_list = []
# Storing records
for record_no in range(num_of_records):
  print("Enter Details of student-{}".format(record_no + 1))
  student_name = input("Enter Student name- ")
  higher_education = input("Enter Higher Education- ")
  skill = input("Enter Primary Skill- ")
  year_of_graduation = input("Enter Year of Graduation- ")
  student_list.append((student_name,higher_education,skill,year_of_graduation))
# creating space
for _ in range(2):
  print()
# Asking user
print("Enter JOb Role Requirement")
skill = input("Enter Skill- ")
education = input("Enter Higher Education- ")
year = input("Enter Year of Graduation- ")

# filtering student_list
filtered_list = []
flag = False
for item in student_list:
  if item[1:] == (education,skill,year):
    filtered_list.append(item)
    flag = True
# filtered_list = [item for item in student_list if item[1:]==(education,skill,year)]

if flag == False:
  print("No such candidates.")

# creating space
for _ in range(2):
  print()
# displaying filtered_list
for item in filtered_list:
  print(item,end=',')

Enter no. of records : 2
Enter Details of student-1
Enter Student name- Sujan Thapaliya
Enter Higher Education- Computer Engineering
Enter Primary Skill- Coding
Enter Year of Graduation- 2023
Enter Details of student-2
Enter Student name- Hari Prasad
Enter Higher Education- Civil Engineering
Enter Primary Skill- Workshop
Enter Year of Graduation- 2025


Enter JOb Role Requirement
Enter Skill- Coding
Enter Higher Education- Computer Engineering
Enter Year of Graduation- 2023


('Sujan Thapaliya', 'Computer Engineering', 'Coding', '2023'),

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
# write your code here
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
common_elem = []

for item in ar1 :
  if item in ar2 and item in ar3:
    common_elem.append(item)

# common_elem = [item for item in ar1 if item in ar2 and item in ar3]
print(common_elem)

[20, 80]

In [ ]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
# perform set intersection operation by casting all of 3 list into set
# common_elem = set(ar1) & set(ar2) & set(ar3)
common_elem = set(ar1).intersection(set(ar2)).intersection(set(ar3))
print("{}".format(list(common_elem)))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [26]:
# write your code here
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
# vowel_set = {'a','e','i','o','u','A','E','I','O','U'}
vowels = set("aeiouAEIOU")
s = set(str1)
print("No of unique vowels - {}".format(len(s & vowels)))

No of unique vowels - 6

In [24]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
# vowel_set = {'a','e','i','o','u','A','E','I','O','U'}
vowel_set = set("aeiouAEIOU")
count = 0
for index in range(len(Str1)) :
  if Str1[index] in vowel_set and Str1[index] not in Str1[index+1:]:
    count = count + 1
print("No of unique vowels-{}".format(count))

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
# write your code here
# solve using set cannot contain duplicate

input1 = input("Enter string : ")

input_set = set(input1) # this remove all duplicate

# if length of set == 2 -> yes else no

output = "Yes" if len(input_set) == 2 else "No"

print("Output : {}".format(output))

Enter string : Campusx
Output : No

In [ ]:
#Question : check if string is binary number or not
# write code
input1 = input("Enter string : ")
binary_set = {'0','1'}
is_binary = True
for item in input1:
  if item not in binary_set:
    is_binary = False
    break
output = "Yes" if is_binary else "No"
print("Output : {}".format(output))

Enter string : 01010101010
Output : Yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
# write your code here
input_list = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
output_set = set()

for item in input_list :
  output_set.update(item)

print("{}".format(list(output_set)))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# write your code here
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

lst3 = [item for item in lst1 if item in lst2]
print(lst3)

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [29]:
# Write code here - Best solution
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
max_val = 0
max_key = ''
for i in test_dict:
  if max_val < len(set(test_dict[i])):
    max_val = len(set(test_dict[i]))
    max_key = i

print(max_key)

Best

In [ ]:
# write your code here
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
# counting value for each key
value_count_dict = {}
for key in test_dict:
  count = 0
  for index in range(len(test_dict[key])):
    if test_dict[key][index] not in test_dict[key][index+1:]:
      count = count + 1
  value_count_dict[key] = count

# finding maximum value key
max = -1
output = ""
for key in value_count_dict:
  if max < value_count_dict[key]:
    max = value_count_dict[key]
    output = key
print(output)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [30]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

res = []
for i in test_str.split():
  if i in repl_dict:
    res.append(repl_dict[i])
  else:
    res.append(i)
print(' '.join(res))

CampusX is the best channel for Data-Science students.

In [ ]:
# write your code here
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
for key in repl_dict:
  output = test_str.replace(key,repl_dict[key])
  test_str = output
print(output)

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [32]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

n = len(test_list)
res = []

for i in range(0,n,2):
  res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})

print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [33]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
output_list = []
for index in range(0,len(test_list),2):
  output_dict = {}
  key_index = index
  for key in key_list:
    output_dict[key] = test_list[key_index]
    key_index = key_index + 1
  output_list.append(output_dict)
print(output_list)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [34]:
# write your code
input_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# input_list = [('A', 1), ('B', 2), ('C', 3)]
dict_input_list = {}
for key,value in input_list:
  dict_input_list[key] = [value]
print(dict_input_list)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [37]:
# Write code here
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

res = {}

for i in sorted(d):
  res[i] = sorted(d[i])

print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [ ]:
# write your code here
dictionary = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
dictionary = {'c': [10, 34, 3]}
# sort key
key_list = list(dictionary.keys())
key_list.sort()
# create sorted key and value dictionary
sorted_dictionary = {}
for key in key_list:
  sorted_dictionary[key] = sorted(dictionary[key])
print(sorted_dictionary)

{'c': [3, 10, 34]}