<a href="https://colab.research.google.com/github/Sujan078BCT/Python-Programming/blob/main/Solution/session_4_task_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Better Understanding :
https://pythontutor.com/render.html#mode=display

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [22]:
# Write code here
list1 = ["M", "na", "i", "Kh","nam"]
list2 = ["y", "me", "s", "an"]
L = []
length = min(len(list1),len(list2))
# both list have index up to this
for i in range(length):
  list3 = []
  list3.extend([list1[i],list2[i]])
  L.append(list3)
# if extra element in list1
if length < len(list1):
  for i in range(length,len(list1)):
    L.append(list1[i])
# if extra element in list2
if length < len(list2):
  for i in range(length,len(list2)):
    L.append(list2[i])
print(L)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an'], 'nam']

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [39]:
#write code here
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [32]:
# Write code here
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for i,j in zip(candy_list,no_of_items):
  print("{}-{}".format(i,j))

Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [33]:
# Write code here
list1 = [1,2,3,4,5,6]
sum =  0
result_list = []
for i in list1 :
  sum += i
  result_list.append(sum)
else:
  print(result_list)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [37]:
# Write code here
list1 = [2,4,6,10,1]
L = []
for i in range(len(list1)):
  sum = 0
  for j in range(0,len(list1)):
    if list1[i] <= list1[j]:
      sum += list1[j]
  L.append(sum)
print(L)

[22, 20, 16, 10, 23]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [38]:
# Write code here
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
result = [item for item in num1 if item in num2]
print(result)

[67, 89, 34]


###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [42]:
# Write code here - incomplete answer
input = ['1ac21', '23fg', '456', '098d','1','kls']
product_list = []
for item in input:
  product = 1
  for i in range(len(item)):
    if item[i].isdigit():
      product*=int(item[i])
  product_list.append(product)

[2, 6, 120, 0, 1, 1]

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [19]:
# Write code here
input1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
L = []
for item in input1:
  L.extend(item.split(' '))
print(L)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [16]:
# Write code here
input = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
L = []
for item in input:
  L.append(''.join(item))
result = ' '.join(L)
print(result)

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [43]:
# Code here

input = ['campusxIs', 'bestFor', 'dataScientist']
L = []
for item in input:
  result = ""
  for i in item:
    if i>='A' and i <='Z':
      result += ' '
    result += i
  L.append(result)
print(L)

['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [13]:
# Write code here
list1 = [1,2,3,4,5,1]
list2 = [2,3,5,7,8]
merge_list = list1 + list2
union = [merge_list[i] for i in range(len(merge_list)) if merge_list[i] not in merge_list[i+1:]]
union.sort()
print(union)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [8]:
# Write code here
matrix = [[1,2,3],[4,5,6],[7,8,9]]
list1 = [max(item) for item in matrix]
print(list1)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [7]:
# Write code here
matrix = [[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[print(item) for item in matrix]

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

[None, None, None]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [6]:
# Write code here
matrix = [[1,2,3],[4,5,6],[7,8,9]]
transpose = [[ matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix))]
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# Write code here
matrix = [[1,2,3],[4,5,6],[7,8,9]]
L = []
[L.extend(item) for item in matrix]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]